*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}
:root{
    /* --cardTareas-bg-color:#eABE72; */
    --cardTareas-bg-color: rgba(255,255,255,0.5);
    --cardReportes-bg-color:#003a55;
    --cardConsultas-bg-color:#ea72ea;
    --cardAgregar-bg-color:#ea8472;
    --cardInventario-bg-color:#72beeac5;
    /* --background_image_url: url("img/principal.jpg") */
}

body{
    
    display: grid;
    /* background: linear-gradient(rgba(138, 190, 114, 0.3),rgba(138, 190, 114, 0.3)),url("../img/sonrisa_feliz.jpg") 
        no-repeat center center fixed; */
    background-image: linear-gradient(90deg, #13855c 10%, #224abe 100%);
    /* background-size: cover;  */
    height: 900px;
   
}

.mensaje_bienvenida{
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: white;
}
.welcome{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,auto);
    height: 400px;
    margin-top: 70px;
}

.logo{
    margin-left: 46%;
    margin-top: -10%;
}
.crear_usuario, .iniciar_sesion{
    display: grid;
    gap: 10px;
    border-radius: 10px;
    border: solid 0.5px;
    background: linear-gradient(rgba(49, 116, 55, 0.1),rgba(49, 116, 55, 0.1));
    color: white;
    height: 200px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    box-shadow: 5px 5px 20px rgb(49, 116, 55);
}
.crear_usuario:hover, .iniciar_sesion:hover{
    background-color: rgba(49, 116, 55, 0.9);
   
}
.btn_crear, .btn_iniciar{
    background-color: #8ABE72;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

.btn_cancelar{
    background-color: rgba(207, 23, 23, 0.5);
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}
.btn_cancelar:hover{
    background-color: rgba(205, 23, 23, 0.75);
    cursor: pointer;
}
.btn_crear:hover, .btn_iniciar:hover{
    background-color: rgba(49, 116, 55, 0.75);
    cursor: pointer;
}
.olvido_contraseña{
    font-size: 20px;
    color: white;
}
.menu_navegacion{
    display: grid;
    /* gap: 20px; */
    grid-template-columns: repeat(9,auto);
    height: 100px;
    width: 83%;
    position: fixed;
    z-index: 100;
    background: rgba(255,255,255,0.99);
    margin-left: 16.5%;
    /* border-radius: 15px; */
    margin-top: 70px;
    
}
#nav-lat{
    border-bottom: 5px solid white;
}
h1{
    text-align: center;
    color:#fff
}
h2{
    text-align: center;
    color:white;
   font-size: 35px;
    
}
/* .header{
    display: grid;
    gap: 2px;
    grid-template-columns: auto auto;
} */
header{
    display: grid;
    background-color: transparent;
    width: 83%;
    height: 50px;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(4,auto);
    position: fixed;
    z-index: 90;
    margin-top: -8px;
    margin-left: 5%;
    /* margin-bottom: -100px; */
  
}

.span{
    width: 250px;
    height: 70px;
    box-shadow: 1px 1px 10px black;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    
}

#buscador{
    width: 300px;
    height: 40px;
    box-shadow: 1px 1px 10px black;
    outline: none;
    padding-top: -80px;
    position: absolute;
}
#buscar-ico{
    width: 30px;
    position: relative;
    margin-top: 15px;
    margin-left: 180px;
}

.add{
    width:50px;
    height: 50px;
}
a{
    text-decoration-style: none;
    text-decoration-line: none;
    color: rgb(49 116 55 / 75%);
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    align-items: center;
    justify-items: center;
    /* border-right: 1px solid rgba(153, 119, 51, 0.825); */
    
}
a:hover{
    /* color: #eABE72; */
    color: rgb(49 116 55 / 100%);
    /* background-color: aliceblue; */
}
#imagen_ayuda{
    margin-bottom: 10%;
    margin-left: 28%;
    box-shadow: 5px 5px 20px green;
}
.btn_index{
    color: rgba(255,255,255,0.55);
}
.btn_index:hover{
    color: rgba(255,255,255,1);
}

.img_logo{
    width: 90px;
    height: 90px;
    display: grid;
    align-items: center;
    justify-items: center;
}
.container{
    display: grid;
    margin-top: 100px;
    height: 900px;
    background: linear-gradient(rgba(138, 190, 114, 0.3),rgba(138, 190, 114, 0.3)),url("../img/sonrisa_feliz.jpg") 
        no-repeat center center fixed;
    background-size: cover;
    
}
.container_login{
    display: grid;
    height: 575px;
}
.container_inicio{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    height: 725px;
    margin-top: 125px;
}
.barra_lateral{
    /* display: block; */
    /* width: 100%; */
    min-width: 230px;
    margin-left: -9px;
    margin-top: -57%;
    background: rgba(138, 190, 114);
    /* grid-column-start: 1;
    grid-column-end: 3; */
    
}
.container_lateral{
    width: 1000px;
    display: grid;
    text-align: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 5;
}
table{
    /* display: grid; */
    width: 1100px;
    height: 120px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-left: 1%;
    margin-bottom: 50%;
    box-shadow: 2px 2px 20px teal;
    
}
tr{
    border-radius: 5px;
    background-color: aliceblue;
}
td{
    border: 1px solid red;
}

.form_login_usuario{
    display: grid;
    height: 200px;
    margin-top: -250px;

}
.form_crear_usuario{
    padding-top: 50px;
}

.pendientes, .reportes, .consultas, .agregar, .inventario{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, auto);
    height: 500px;
}
.cardTarea{
    background-color: var(--cardTareas-bg-color);
    display: grid;
    align-items: center;
    justify-items: center;
    border: solid 1px;
    border-radius: 25px;
    height: 200px;
}

.cardReportes{
    background-color: var(--cardReportes-bg-color);
    display: grid;
    align-items: center;
    justify-items: center;
}
.cardConsultas{
    background-color: var(--cardConsultas-bg-color);
    display: grid;
    align-items: center;
    justify-items: center;
}
.cardAgregar{
    background-color: var(--cardAgregar-bg-color);
    display: grid;
    align-items: center;
    justify-items: center;
}
.cardInventario{
    background-color: var(--cardInventario-bg-color);
    display: grid;
    align-items: center;
    justify-items: center;
    
}
.add{
    width: 85px;
    height: 85px;
    position: fixed;
    z-index: 100;
    margin-top: 40%;
    margin-left: 90%;
    border-radius: 25px;
    background-color: rgba(49, 116, 55, 0.75);

}
.add:hover{
    background-color: rgb(16, 102, 49);
    cursor: pointer;
}
.add img{
    width: 75px;
    height: 75px;
}

.footer{
    background-color: none;
    width: 83%;
    display: grid;
    gap: 10px;
    align-items: flex-end;
    justify-items: center;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 16.5%;
    margin-top: -20%;
}

.containerReport{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
    width: 100%;
    height: auto;
    
}
form {
    display: grid;
    grid-template-columns: repeat(1,auto);
    width: 100%;
    height: 575px;
    align-items: center;
    justify-items: center;
}
input{
    display: grid;
    width: 315px;
    height: 65px;
    border-radius: 50px;
    justify-items: center;
    text-align: center;
    margin: 10px 0; 
    background: rgba(255, 255, 255, 0.5);
    font-size: 25px;
}
#position_select{
    display: grid;
    width: 315px;
    height: 65px;
    border-radius: 50px;
    justify-items: center;
    text-align: center;
    margin: 10px 0; 
    background: rgba(255, 255, 255, 0.5)
}
.recu_titulo{
    margin-top: 20%;
}
.recu_form{
    margin-top: 0%;
}
#con_resp{
    width: 100%;
}
#resultado_ok{
    /* background: #8ABE72; */
    background: rgba(138, 191, 114, .85);
    width: 50%;
    height: 125px;
    display: grid;
    text-align: center;
    align-items: center;
    /* margin-left: 30%; */
    margin: 0 auto;
    box-shadow: 5px 5px 20px #8ABE72;
    border-radius: 5px;
    
}
#resultado_error{
    background: #b61010b9;
    width: 50%;
    height: 125px;
    display: grid;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 5px 5px 20px #b61010b9;
    border-radius: 5px;
    
}
/************************************************INICIO: version movil***************************************************/
@media screen and (max-width:450px) {
    .menu_navegacion{
        grid-template-columns: repeat(1,auto);
        overflow: hidden;
        /* background: linear-gradient(to top, white, #8d0b32); */
        
    }
    header{
        width: 100%;
    }
    .container{
        height: 2000px;
        margin-top: 10px;
    }
    .pendientes, .reportes, .consultas, .agregar, .inventario{
        margin-top: 100px;
        grid-template-columns: repeat(1, auto);
        height: 500px;
    }
    .add{
        margin-left: 70%;
        margin-top: 700px;
    }
    body{
        height: 915px;
        margin-top: 0px;
    }
    .welcome{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(1,auto);
        width: 95%;
        height: 400px;
        margin-top: 0px;
        margin-left: 2.5%;
    }
    .mensaje_bienvenida{
        margin-top: 0px;
    }
    /* .logo{
        margin-right: 80%;
        margin-top: 50%;
    } */
    .logo>img{
        margin-top: 50%;
        margin-left: -24%;
        
    }
    #position_select{
        display: grid;
        width: 250px;
        height: 45px;
        border-radius: 50px;
        justify-items: center;
        text-align: center;
        margin: 10px 0; 
        background: rgba(255, 255, 255, 0.5)
    }
    .op{
        display: grid;
        justify-items: center;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;

    }
    .form_login_usuario{
        display: grid;
        height: 200px;
        margin-top: -100px;
    
    }
    #resultado_error{
        margin-top: 10%;
        
    }
   
    
}

/********************************************************FIN: version movil ********************************************/
/******************************** INICIO: Version para pantallas con resolucion de 1300 px.*****************************/
@media screen and (max-width: 1600px){
    body{
        height: 615px;
        /* background: linear-gradient(rgba(49, 116, 55, 0.4  ),rgba(49, 116, 55, 0.3)),url("../img/sonrisa_feliz.jpg") 
        no-repeat center center fixed;
        background-size: cover; */
        margin-top: 0px;
    }
    
    #cargando{
        height: 300px;
    }
    #form{
        margin-bottom: 5px;
    }
    #resultado_ok{
        height: 115px;
    }
    #resultado_error{
        height: 105px;       
    }
    .form_crear_usuario{
       height: 490px;
    }
    #usuario_cesion{
        cursor: pointer;
    }
    .welcome{
        margin-top: 0px;
    }
    .logo{
        margin-left: 45%;
        margin-top: -15%;
    }
 
    
    
}

/*****************************************FIN: Version para pantallas con resolucion de 1300 px.************************/

/******************************** INICIO: Version para pantallas con resolucion de mas de 1300 px.*****************************/
@media screen and (min-width: 1600px){
    body{
        height: 600px;
    }
    
    #cargando{
        height: 600px;
    }
    #form{
        margin-bottom: 300px;
    }
    .pendientes{
        margin-top: 50px;
    }
    .footer{
        margin-bottom: 2000px;
    }
    /* .barra_lateral{
        width: 280px;
    } */
}

/*****************************************FIN: Version para pantallas con resolucion de mas de 1300 px.************************/




