*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor_principal{
    display: grid;
    background-color: transparent;
    /* width: 1000px;
    height: 900px; */
}
.header{
   
    background-color: transparent;
    /* width: 800px; */
    min-height: 900px;
    display: grid;
    grid-template-columns: repeat(15,auto);
    grid-template-rows: repeat(2,auto);
}
.barra1{
    display: grid;
    background-color: blue;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1/3;
}
.barra2{
    display: grid;
    background-color: rgba(138, 190, 114, 0.9);;
    grid-column-start: 2;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100px;
    margin-left: -110px;
    /* position: fixed; */
}
.contenedor_secundario{
    /* background: linear-gradient(rgba(138, 190, 114, 0.3),rgba(138, 190, 114, 0.3)),url("../../img/sonrisa_feliz.jpg") 
        no-repeat center center fixed;
    background-size: cover; */
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 16;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 500px;
}